<ion-view view-title="EventFinder">
  <ion-content padding="true">
    <form name="form.search" ng-submit="form.search.$valid && goToList()">
      <ion-list class="list-inset">
        <ion-item class="item-divider">Search</ion-item>
        <ion-item class="item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" ng-model="search.string" required="required" placeholder="City or district name">
        </ion-item>
        <ion-item class="item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="search.satTrans">
          </label>
          Satellite transmission
        </ion-item>
        <ion-item class="item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="search.wheelChair">
          </label>
          wheelchair accessibility
        </ion-item>
        <ion-item class="item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="search.wheelChairLift">
          </label>
          wheelchair accessible lavatory
        </ion-item>
        <button class="button button-dark button-block" ng-disabled="form.search.$invalid">Search</button>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
