<ion-view>
  <ion-nav-title>Details</ion-nav-title>
  <ion-content padding="true">
    <h3>{{event.name}}</h3>
    <h4><b>{{event.city}}</b> <small>({{event.district}})</small></h4>
    <br>
    <ion-list>
      <ion-item class="item-divider item-icon-right"><b>Address</b> <i class="icon ion-location"></i></ion-item>
      <ion-item>
        {{event.street}} {{event.number}}<br>
        {{event.zip}} {{event.city}}
      </ion-item>
    </ion-list>
    <br>
    <ion-list>
      <ion-item class="item-divider item-icon-right"><b>Dates</b> <i class="icon ion-ios-calendar-outline"></i></ion-item>
      <ion-item ng-repeat="date in event.dates">
        {{date}}
      </ion-item>
    </ion-list>
    <br>
    <ion-list>
      <ion-item class="item-divider item-icon-right"><b>Contact</b> <i class="icon ion-chatboxes"></i></ion-item>
      <ion-item class="item-icon-right" ng-click="call()">
        Call us
        <i class="icon ion-android-call"></i>
      </ion-item>
      <ion-item class="item-icon-right" ng-click="mail()">
        Send us an e-mail
        <i class="icon ion-ios-email"></i>
      </ion-item>
      <ion-item class="item-icon-right" ng-click="website()">
        Visit our homepage
        <i class="icon ion-ios-home"></i>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <div class="buttons">
      <div class="button button-clear icon-left" ng-click="map()">
        <i class="icon ion-map"></i> Maps</div>
    </div>
    <h1 class="title"></h1>
    <div class="buttons button-clear icon-right">
      Report
      <i class="ion-android-alert"></i>
    </div>
  </ion-footer-bar>
</ion-view>
