<ion-view>
  <ion-nav-title>{{search}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-dark icon ion-earth" ng-click="goToMap()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher on-refresh="reload()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="event in events track by event.id | limitTo:limit">
        <h2>{{event.name}}</h2>
        <p>
          <b>{{event.city}}</b> / District {{event.district}}<br>
          {{event.street}} {{event.number}}, {{event.zip}} {{event.city}}
        </p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      ng-if="!events || events.length > limit"
      on-infinite="loadMore()">
    </ion-infinite-scroll>
    <p ng-show="events && !events.length">No events found :(</p>
  </ion-content>
</ion-view>
